/* *{outline: 1px solid #f00;}  */
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;    
    line-height: 100px;
    z-index: 99;
    color: #fff;
    /* background: transparent;  */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition:0.3s
}

#header.on{
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    background: #fff;
    color: #333;
}
#header .after,
#header.on .before{
    display: none;  
}
#header.on .after{
    display:inline-block;  
}
#header .container{    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.gnb>ul{
    display: flex;
    gap: 70px;
    text-align: center;
}

.gnb>ul>li{
    position: relative;
    font-size: 18px;
    font-weight: 500;
}
.gnb>ul>li:hover>a{
    color: #fe703d;
}

.gnb a{
    display: block;
}

.gnb>ul>li ul {    
    display: block;
    position: absolute;
    top: 100px;    
    left: 50%;
    z-index: 999;
    width: 130px;
    height: 0;
    line-height: 55px;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
    transition: 0.5s;
    background: #fff;
}

.gnb>ul>li ul li{
    position: relative;
    border-bottom: 1px solid #ddd;   
    font-size: 16px;
    font-weight: 400;
}

.gnb>ul>li .non li:last-child{
    border-bottom: none;
} 

.gnb>ul>li ul li:hover{
    color: #fe703d;
}

.gnb>ul::before{
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
}

.gnb>ul:hover>li ul,
.gnb>ul:hover::before {
    height: 285px;
}


#header .container .util i{
    cursor: pointer;
    font-size: 25px;
    vertical-align: -2px;
}

#header .container .util i:nth-child(1){
    margin-right: 20px;
} 









@media (max-width:768px) {

#header{
    position: relative;
    color: #333;
    padding: 0 20px;
}

#header.on{
    position: relative;
    width: 100%;    
    line-height: 100px;
    z-index: 99;
    color: #333;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#header .before,
#header.on .before{
    display: none;  
}
#header .after,
#header.on .after{
    display:inline-block;  
}


.gnb>ul{
    display: none;
}

#header .container .util i{
    font-size: 23px;
}

#header .container .util i:nth-child(1){
    margin-right: 18px;
} 


}
/* --------------------------------header-------------------------------- */
.mainVisual{
    position: relative;
}

.mainVisual .mainSlider figure{
    position: relative;
    height: 970px;
}

.mainSlider .mainslide01{
    background: url(../img/main01.png)no-repeat center center / cover;
}
.mainSlider .mainslide02{
    background: url(../img/main02.png)no-repeat center center / cover;
}
.mainSlider .mainslide03{
    background: url(../img/main03.png)no-repeat center center / cover;
}
.mainVisual .mainSlider .inner{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: #fff;

}

.mainVisual .mainSlider .inner h2{
    font-size: 80px;
    font-weight: 400;
    margin-bottom:40px;
}

.mainVisual .mainSlider .inner p{
    font-size: 19px;
    font-weight: 300;
}


.mainVisual .mainSlider figure h2{
    transform: translateY(100px);
    opacity: 0;    
}

.mainVisual .mainSlider figure.on h2{
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s;
}

.mainVisual .mainSlider figure p{
    transform: translateY(100px);
    opacity: 0;    
}

.mainVisual .mainSlider figure.on p{
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s 0.4s;
}

.mainVisual .mainArrow img{
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    z-index: 999;
    opacity: 0.2;
}

.mainVisual .mainArrow img:nth-child(1){
    margin: 0 0 0 -700px;
}
.mainVisual .mainArrow img:nth-child(2){
    margin: 0 0 0 700px;
}
.mainVisual .mainSlider .slick-dots{
    position: absolute;
    inset: auto auto 100px 50% ;
    transform: translateX(-50%);
}

.mainVisual .mainSlider .slick-dots li{
    display: inline-block;    
}

.mainVisual .mainSlider .slick-dots button{
    outline: none;
    border:  none;
    width: 250px;
    height: 5px;
    margin: 0 15px;
    background:rgb(91, 91, 91);
    font-size: 0;
    
}

.mainVisual .mainSlider .slick-dots li.slick-active button{
    background:rgb(51, 102, 153);
}







@media (max-width:768px) {
.mainVisual{
    position: relative;
}

.mainVisual .mainSlider figure{
    height: 50vh;
}

.mainVisual .mainSlider .inner{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mainVisual .mainSlider .inner h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom:20px;
}

.mainVisual .mainSlider .inner p{
    font-size: 13px;
    font-weight: 300;
}

.mainVisual .mainArrow img{
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    width: 20px;
    height: 50px;
    z-index: 999;
    opacity: 0.8;
}

.mainVisual .mainArrow img:nth-child(1){
    margin: 0 0 0 -200px;
}
.mainVisual .mainArrow img:nth-child(2){
    margin: 0 0 0 200px;
}
.mainVisual .mainSlider .slick-dots{
    position: absolute;
    inset: auto auto 45px 50% ;
    transform: translateX(-50%);
}


.mainVisual .mainSlider .slick-dots button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    background:#d3d3d3;
    
}

.mainVisual .mainSlider .slick-dots li.slick-active button{
    background:#f64c0e;
}
}
/* --------------------------------mainVisual-------------------------------- */

.mainContent01{
    padding: 100px 0;
    text-align: center;
}
.mainContent01 h2{
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 500;
    color: #333;
}

.mainContent01>p{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
}

.mainContent01 .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.mainContent01 .container .top{
    display: flex;
    gap: 33px;
    margin-bottom:30px;
}

.mainContent01 .container .top figure{
    position: relative;
    transition: 0.5s;
    color:#fff
}

.mainContent01 .container .top figure .box{
    overflow: hidden;
    border-radius: 30px;

}

.mainContent01 .container .top figure:hover img{
    transition: 0.7s;
    transform: scale(1.2); 
}


.mainContent01 .container .top figure strong{
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    font-size: 30px;
    font-weight: 500;
}

.mainContent01 .container .top figure p{    
    position: absolute;
    width: 100%;
    top:130px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
}

.mainContent01 .container .bottom{
    display: flex;
    gap: 33px;
}

.mainContent01 .container .bottom .border{
    display: flex;    
    gap: 33px;
}
.mainContent01 .container .bottom .border div{    
    position: relative;
    width: 275px;
    height: 275px;
    border: 13px solid #cee2ff;
}
.mainContent01 .container .bottom .border div:hover{  
    border: 13px solid #7aafff;
}



.mainContent01 .container .bottom .border div a{
    position: absolute;
    display: flex;    
    align-items: center;
    flex-direction: column;
    width: 275px;
    height: 275px;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mainContent01 .container .bottom .border div a img{
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
}
.mainContent01 .container .bottom .border div a strong{
    margin-bottom: 10px;
}





@media (max-width:768px) {
.mainContent01{
    padding: 50px 20px;
    text-align: center;
}
.mainContent01 h2{
    margin-bottom: 10px;
    font-size: 30px;
}

.mainContent01>p{
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 300;
}
.mainContent01 .container{    
    max-width: 768px;
    width: 100%;
    margin: 0 auto;

}
.mainContent01 .container .top{
    display: flex;
    gap: 10px;
    margin-bottom:30px;
}

.mainContent01 .container .top figure{
    position: relative;
    color:#fff
}

.mainContent01 .container .top figure .box{
    overflow: hidden;
    border-radius: 30px;
}

.mainContent01 .container .top figure:hover img{
    transition: none;
}
.mainContent01 .container .top figure strong{
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
}

.mainContent01 .container .top figure p{
    display: none;
}
.mainContent01 .container .bottom {
    display: none;
}

}

/*-------------------------------- mainContent01 -------------------------------- */

.mainContent02{
    padding: 100px 0;
    text-align: center;
    background: url(../img/blue_background.png) no-repeat center center / cover;
}

.mainContent02 .container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 60px;
}
.mainContent02 .left {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}
.mainContent02 .left h2{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

.mainContent02 .left p{
    line-height: 1.3;
    font-size: 16px;
    font-weight: 300;    
    margin-bottom: 30px;
    color: #fff;
}

.mainContent02 .left a{
    font-size: 16px;
    font-weight: 300;    
    margin-bottom: 30px;
    color: #fff;
}
.mainContent02 .container > div{
    flex:1;
}
.mainContent02 .container .right .case{
    position: relative;
    padding-bottom: 56.25%; 
}
 
.mainContent02 .container iframe{
    position: absolute;
    inset: 0 0 0 0 ;
}

@media (max-width:768px) {
    
.mainContent02{
    padding: 50px 20px;
}

.mainContent02 .container{
    display: flex;
    max-width: 768px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
}
.mainContent02 .left {    
    display: block;
    text-align: center;
}
.mainContent02 .left h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

.mainContent02 .left p{
    line-height: 1.3;
    font-size: 13px;
    font-weight: 300;    
    margin-bottom: 20px;
    color: #fff;
}

.mainContent02 .left a{
    font-size: 13px;
    font-weight: 300;    
    margin-bottom: 30px;
    color: #fff;
}
.mainContent02 .container > div{
    flex:1;
}
.mainContent02 .container .right .case{
    position: relative;
    padding-bottom: 60%; 
}
 
.mainContent02 .container iframe{
    max-width: 700px;
    width: 100%; 
    height: 280px; 
    position: absolute;
}
}

/*-------------------------------- mainContent02 -------------------------------- */


.mainContent03{
    padding: 100px 0;
    text-align: center;
}

.mainContent03 .more{
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 10px;
}
.mainContent03 .more i{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #fff;
    background: rgb(96, 156, 219);
    font-size: 16px;
}

.mainContent03 h2{
    font-size: 48px;
    font-weight: 500;
    color: #333;    
    margin-bottom: 10px;
}

.mainContent03 p{
    font-size: 16px;
    font-weight: 300;    
    margin-bottom: 14px;
}

.mainContent03 .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.mainContent03 .container .box{
    display: flex;
    gap: 40px;
}
.mainContent03 .container .outer{
    display: block;
    text-align:left;
}
.mainContent03 .container .outer img{
    margin-bottom: 20px;
}

.mainContent03 .container figure strong{  
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;    
}

@media (max-width:768px) {
    
.mainContent03{
    padding: 50px 20px;
    text-align: center;
}
 
.mainContent03 .more{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 30px;
} 
.mainContent03 .more i{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #fff;
    background: rgb(96, 156, 219);
    font-size: 16px;
}

.mainContent03 h2{
    font-size: 30px;
    font-weight: 500;
    color: #333;    
    margin-bottom: 10px;
}

.mainContent03 p{
    font-size: 13px;
    font-weight: 300;    
    margin-bottom: 14px;
}

.mainContent03 .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.mainContent03 .container .box{
    display: flex;
    flex-direction: column;
}
.mainContent03 .container .outer{
    display: block;
    text-align:center;
}

.mainContent03 .container .outer img{
    margin-bottom: 15px;
}
.mainContent03 .container .outer strong{
    font-size: 15px;
    font-weight: 400;
}
}


/*-------------------------------- mainContent03 -------------------------------- */

.mainContent04{
    padding: 100px 0;
    text-align: center;
    background: url(../img/costomers_background.png) no-repeat center center / cover;
}

.mainContent04 .container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.mainContent04 .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.mainContent04 .left h2{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}

.mainContent04 .left p{
    font-size: 16px;
    font-weight: 300;    
    color: #fff;
}

.mainContent04 .container .right {    
    display: flex;
    gap: 64px;
    text-align: center;
    color: #fff;
    margin-left: 130px;
}

.mainContent04 .container div a{
    display: block;
    width: 178px;
    height: 178px;
    border: 3px solid #fff;
    padding: 20px;
}
.mainContent04 .container div .out{
    width: 198px;
    height: 198px;
    padding: 10px;
}

.mainContent04 .container div .out:hover {
    background: rgba(60, 85, 111, 0.7);
}

.mainContent04 .container div i{
    font-size: 80px;
    margin-bottom: 15px;
}

.mainContent04 .container div strong{
    font-size: 24px;
}





@media (max-width:768px){
    
.mainContent04{
    padding: 50px 20px;
    text-align: center;
    background: url(../img/costomers_background.png) no-repeat center center / cover;
}

.mainContent04 .container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 40px;
}

.mainContent04 .left {
    display: block;
    text-align: center;
}

.mainContent04 .left h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

.mainContent04 .left p{
    font-size: 13px;
    font-weight: 300;    
    color: #fff;
}

.mainContent04 .container .right {    
    display: flex;
    text-align: center;
    justify-content: space-around; 
    color: #fff;
    margin-left: 0;
    gap: 0;
}

.mainContent04 .container div a{
    display: block;
    width: 115px;
    height: 115px;
    border: 3px solid #fff;
    padding: 20px;
    font-size: 13px;
}
 .mainContent04 .container div .out{
    width: 100%;
    height: 100%;
    padding: 10px;
} 

.mainContent04 .container div .out:hover {
    background: none
}

.mainContent04 .container div i{
    font-size: 30px;
    margin-bottom: 15px;
}

.mainContent04 .container div strong{
    font-size: 24px;
}

}
/*-------------------------------- mainContent04 -------------------------------- */

#footer{
    padding: 15px 0 25px 0 ;
    background: #333;
    color: rgb(174, 174, 174);
}
#footer .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
#footer .container img{
    margin-bottom: 10px;
}

#footer .container .top{
    display: flex;
    justify-content: space-between;
    line-height: 2.5;    
    font-size: 16px;
}
#footer .container .top ul{
    display: flex;
    gap: 20px;
    font-weight: 500;
}
#footer .container .top ul li:hover{
    color: rgb(204, 102, 51);
}

#footer .family_link select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/select_button.png)no-repeat right 15px center;
    padding: 3px 30px 3px 15px;
    width: 190px;
    height: 30px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ddd;
    border: 2px solid #666;
}

#footer .family_link option{
    color: #fff;
    background: #333;
}

#footer .container .bottom .in_top{
    display: flex;
    line-height: 1.5;
    font-size: 15px;
}

#footer .container .bottom .in_top p{
    margin-right: 20px    
}


#footer .container .bottom .in_bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#footer .container .bottom .in_bottom p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 11px;
}

#footer .container .bottom .in_bottom a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(71, 71, 71);
}

#footer .container .bottom .in_bottom .sns {
    display: flex;
    gap: 15px;
    text-align: center;
}
#footer .container .bottom .in_bottom .sns i{
    font-size: 22px;
    /* transform: translateY(6px); */
    vertical-align: -12px;
}

@media (max-width:768px){
    
#footer{
    padding: 15px 20px 25px 20px ;
    background: #333;
    color: rgb(174, 174, 174);
}
#footer .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#footer .containerh3{
    text-align: center;
}
#footer .container img{
    margin-bottom: 10px;
}

#footer .container .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5;    
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
#footer .container .top ul{
    display: flex;
    text-align: center;
    justify-content:space-evenly;
    font-weight: 500;
}
#footer .container .top ul li:hover{
    color: rgb(204, 102, 51);
}

#footer .family_link select{
    display: none;
}

#footer .family_link option{
    color: #fff;
    background: #333;
}

#footer .container .bottom .in_top{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 13px;
    align-items: center;
    margin-bottom: 10px;
}

#footer .container .bottom .in_top p{
    margin-right: 20px    
}


#footer .container .bottom .in_bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
}

#footer .container .bottom .in_bottom p{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    margin-bottom: 20px;
}

#footer .container .bottom .in_bottom a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(71, 71, 71);
}

#footer .container .bottom .in_bottom .sns {
    display: flex;
    gap: 15px;
    text-align: center;
    margin-bottom: 20px;
}
#footer .container .bottom .in_bottom .sns i{
    font-size: 22px;
    /* transform: translateY(6px); */
    vertical-align: -12px;
}
}
/*-------------------------------- footer -------------------------------- */


.toTop{
    /* display: none; */
    position: fixed;
    inset: auto 50px 50px auto;
    /* z-index: 999; */
}
.toTop i{
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width:768px){
.toTop{
    position: fixed;
    inset: auto 20px 30px auto;
}
.toTop i{
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}
}

/*  ***** index끝 *****  */


/*  ***** sub_#header 시작 ***** */
 .sub #header{
    position: relative;
    line-height: 100px;
    background: #fff;
    /* border-bottom: 1px solid rgba(51, 51, 51, 0.5); */
    color: #333;
}
 .sub #header h1 a{
    display: block;
}


 .sub #header h1 .before{
    display: none;
}

 .sub #header h1 .after{
    display:inline-block;  
}

 .sub #header .container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

 .sub #header .gnb>ul{
    display: flex;
    gap: 70px;
    text-align: center;
}

 .sub #header .gnb>ul>li{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
 .sub #header .gnb>ul>li:hover>a{
    color: rgb(254, 112, 61);
}

 .sub #header .gnb a{
    display: block;
}

 .sub #header .gnb>ul>li ul {    
    display: block;
    position: absolute;
    top: 100px;    
    left: 50%;
    z-index: 999;
    width: 130px;
    height: 0;
    line-height: 55px;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
    transition: 0.5s;
    background: #fff;
}

 .sub #header .gnb>ul>li ul li{
    position: relative;
    border-bottom: 1px solid #ddd;   
    font-size: 16px;
    font-weight: 400;
}

 .sub #header .gnb>ul>li .non li:last-child{
    border-bottom: none;
} 

 .sub #header .gnb>ul>li ul li:hover{
    color: rgb(254, 112, 61);
}

 .sub #header .gnb>ul::before{
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
}

 .sub #header .gnb>ul:hover>li ul,
 .sub #header .gnb>ul:hover::before {
    height: 285px;
}


 .sub #header .container .util i{
    cursor: pointer;
    font-size: 25px;
    vertical-align: -2px;
    color: #333;
}

 .sub #header .container .util i:nth-child(1){
    margin-right: 20px;
} 

/*  ***** sub_#header 끝 ***** */


/*  ***** sub_introduce 시작 ***** */

.introduce .topBanner{
    width: 100%;
}
.introduce .topBanner .top{
    padding: 150px 0;
    background: url(../img/topBanner01.jpg) no-repeat center center / cover;
    color: white;
}
.introduce .topBanner .top h2{
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}
.introduce .topBanner .bottom{
    background: #ddd;   
    padding: 10px 200px; 
}
.introduce .topBanner .bottom a{
    text-decoration: underline;
    text-underline-position: under;
}
.introduce_main{
    padding: 100px 0;
    height: 100%;
}

.introduce_main h3::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: orange;
    margin: 20px auto 0 auto;
}
.introduce_main h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}


.introduce_main .top {
    position: relative;
}
.introduce_main .top .ceo_pic{
    position: absolute;
    display: block;
    top: 0;
    left: 0;

}

.introduce_main .top .text{
    position: absolute;
    display: block;
    top: 150px;
    right: 70px;
    width: 500px;
    height: 500px;
    background: #f06f24;
    padding: 40px;
    color: #fff;
}
.introduce_main .top .text span{
    display: block;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.introduce_main .top .text p{
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
}

.introduce_main .bottom {
    padding: 520px 0 0 0;
    background: #fff;
}

.introduce_main .bottom .sub_title{
    display: block;
    font-size: 27px;
    color: #f06f24;
    margin-bottom: 10px;
    
}
.introduce_main .bottom p{
    line-height: 1.7;
    font-weight: 400;
}

/*  ***** sub_introduce 끝 ***** */










/*  ***** sub_main_work 시작 ***** */

.main_work .topBanner{
    width: 100%;
}
.main_work .topBanner .top{
    padding: 150px 0;
    background: url(../img/topBanner02.jpg) no-repeat center center / cover;
    color: white;
}
.main_work .topBanner .top h2{
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}
.main_work .topBanner .bottom{
    background: #ddd;   
    padding: 10px 200px; 
}
.main_work .topBanner .bottom a{
    text-decoration: underline;
    text-underline-position: under;
}
.main_work_main{
    padding: 100px 0;
    height: 100%;
}
.main_work_main h3::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: orange;
    margin: 20px auto 0 auto;
}
.main_work_main h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.main_work_main .text{
    margin-bottom: 20px;
    text-align: center;
}
/* 
.work01,
.work02,
.work03,
.work04{
    margin-bottom: 50px;    
} 
*/
.main_work_main .container > div{
    margin-bottom: 50px; 
}

.main_work_main .container > div .text{
    margin-bottom: 40px;
    text-align: center;
}
.main_work_main .container > div .text p{
    margin-bottom: 8px;
    font-size: 18px;
}
.main_work_main .container > div .pic{
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.main_work_main .container > div .pic .left{
    width: 70%;    
}

.main_work_main .container > div .pic .right{
    width: 30%;
}
.main_work_main .container > div .pic .right .txt span{
    text-align: right;
    display: block;
    color: #fe703d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.main_work_main .container > div .pic .right .txt p{
    font-size: 37px;
    font-weight: 600;
    line-height: 1.2;
    text-align: right;
}

.main_work_main .container > div .pic .arrow{
    position: absolute;
    top: 32%;
    right: -6%;
    transform: translate(-50%, -50%);
    font-size: 31px;
}
.main_work_main .container > div .pic .arrow i{
    border: 1px solid #333;
    padding: 5px;
}

.main_work_main .container > div .pic .arrow .xi-angle-right{
    margin: 0 0 0 -8px;
}
.main_work_main .container > div .more{
    position: absolute;
    top: 63%;
    right: -20px;
}
.main_work_main .container > div .more a{
    display: block;
    font-size: 15px;
    font-weight: 300;
}

.main_work_main .container > div .more i{
    padding: 5px;
    background: #f06f24;
    color: #fff;
    border-radius: 50%;
    margin-left: 5px;
}

/*  ***** sub_sub_main_work 끝 ***** */


/*  ***** sub_management_inno 시작 ***** */
.managment_inno .topBanner{
    width: 100%;
}
.managment_inno .topBanner .top{
    padding: 150px 0;
    background: url(../img/topBanner03.jpg) no-repeat center center / cover;
    color: #fff;
}
.managment_inno .topBanner .top h2{
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}
.managment_inno .topBanner .bottom{
    background: #ddd;   
    padding: 10px 200px; 
}
.managment_inno .topBanner .bottom a{
    text-decoration: underline;
    text-underline-position: under;
}
.managment_inno_main{
    padding: 100px 0;
    height: 100%;
}
.managment_inno_main h3::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: orange;
    margin: 20px auto 0 auto;
}
.managment_inno_main h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.managment_inno_main .text{
    background: url(../img/management_bg.jpg) no-repeat center center / cover;
    margin-bottom: 70px;
    text-align: center;
    padding: 80px 50px;
    color: #fff;
}
.managment_inno_main .text p{
    color:#fff;
    font-size: 20px;
    line-height: 1.5;
}
.managment_inno_main .promise{
    margin-bottom: 100px;
}

.managment_inno_main .promise p{   
    text-align: center; 
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
}
.managment_inno_main .box{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.managment_inno_main .box>div{    
    border: 1px solid #ddd;
    padding: 30px 50px;
    word-break: keep-all;
    flex: 1;
}
.managment_inno_main .box>div .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.managment_inno_main .box>div .point span{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fe703d;
    font-weight: 600;
}
.managment_inno_main .box>div .bottom strong{
    font-size: 19px;
    font-weight: 600;

}
.managment_inno_main .box>div .bottom p{
    font-size: 17px;
    line-height: 1.5;
    font-weight: 300;

}

/*  ***** sub_management_inno 끝 ***** */


/*  ***** sub_promotion 시작 ***** */
.promotion .topBanner{
    width: 100%;
}
.promotion .topBanner .top{
    padding: 150px 0;
    background: url(../img/topBanner04.jpg) no-repeat center center / cover;
    color: white;
}
.promotion .topBanner .top h2{
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}
.promotion .topBanner .bottom{
    background: #ddd;   
    padding: 10px 200px; 
}
.promotion .topBanner .bottom a{
    text-decoration: underline;
    text-underline-position: under;
}
.promotion_main{
    padding: 100px 0;
    height: 100%;
}
.promotion_main h3::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: #ffa600;
    margin: 20px auto 0 auto;
}
.promotion_main h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.promotion_main .text{
    background: url(../img/promotion_bg.jpg) no-repeat center center / cover;
    margin-bottom: 70px;
    text-align: center;
    padding: 80px 50px;
}
.promotion_main .text img{
    margin-bottom: 20px;
}
.promotion_main .text p{
    color:#fff;
    font-size: 20px;
    line-height: 1.5;
}
.promotion_main  .concept{
    display: flex;
    justify-content: space-between;
}

.promotion_main .concept .left{
    width: 30%;
    font-weight: 600;
    font-size: 30px;
}
.promotion_main .concept .right {
    font-size: 22px;
    margin-bottom: 40px;  
    line-height: 1.4;
}

/*  ***** sub_promotion끝 ***** */
/*  ***** sub_human_talent 시작 ***** */


.humen_talent .topBanner{
    width: 100%;
}
.humen_talent .topBanner .top{
    padding: 150px 0;
    background: url(../img/topBanner05.jpg) no-repeat center center / cover;
    color: white;
}
.humen_talent .topBanner .top h2{
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}
.humen_talent .topBanner .bottom{
    background: #ddd;   
    padding: 10px 200px; 
}
.humen_talent .topBanner .bottom a{
    text-decoration: underline;
    text-underline-position: under;
}
.humen_talent_main{
    padding: 100px 0;
    height: 100%;
}
.humen_talent_main h3::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: #ffa500;
    margin: 20px auto 0 auto;
}
.humen_talent_main h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.humen_talent_main .text{
    background: url(../img/human_talent_bg.jpg) no-repeat center center / cover;
    margin-bottom: 70px;
    text-align: center;
    padding: 100px 50px;
    color:#fff;
    line-height: 1.5;
    font-size: 20px;
}
.humen_talent_main .text .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.humen_talent_main .mental{
    display: flex;
    justify-content: space-between;
}
.humen_talent_main .mental .left{
    width: 80%;
    font-weight: 600;
    font-size: 30px;
}
.humen_talent_main .mental .right .top{
    font-size: 22px;
    margin-bottom: 70px;  
    line-height: 1.4;
}
.humen_talent_main .mental .right .bottom .des dl{
    margin-bottom: 30px;

}
.humen_talent_main .mental .right .bottom .des dl dt{
    font-size: 20px;
    color: #fe703d;
    margin-bottom: 20px;
    line-height: 1.8;
    font-weight: 600;
}
.humen_talent_main .mental .right .bottom .des dl dd{    
    line-height: 1.8;
}

/*  ***** sub_human_talent 끝 ***** */


