 .sub #header{
    position: relative;
    line-height: 100px;
    background: #fff;
    /* border-bottom: 1px solid rgba(51, 51, 51, 0.5); */
    color: #333;
}
 .sub #header h1 a{
    display: block;
}


 .sub #header h1 .before{
    display: none;
}

 .sub #header h1 .after{
    display:inline-block;  
}

 .sub #header .container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

 .sub #header .gnb>ul{
    display: flex;
    gap: 70px;
    text-align: center;
}

 .sub #header .gnb>ul>li{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
 .sub #header .gnb>ul>li:hover>a{
    color: rgb(254, 112, 61);
}

 .sub #header .gnb a{
    display: block;
}

 .sub #header .gnb>ul>li ul {    
    display: block;
    position: absolute;
    top: 100px;    
    left: 50%;
    z-index: 999;
    width: 130px;
    height: 0;
    line-height: 55px;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
    transition: 0.5s;
    background: #fff;
}

 .sub #header .gnb>ul>li ul li{
    position: relative;
    border-bottom: 1px solid #ddd;   
    font-size: 16px;
    font-weight: 400;
}

 .sub #header .gnb>ul>li .non li:last-child{
    border-bottom: none;
} 

 .sub #header .gnb>ul>li ul li:hover{
    color: rgb(254, 112, 61);
}

 .sub #header .gnb>ul::before{
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
}

 .sub #header .gnb>ul:hover>li ul,
 .sub #header .gnb>ul:hover::before {
    height: 285px;
}


 .sub #header .container .util i{
    cursor: pointer;
    font-size: 25px;
    vertical-align: -2px;
    color: #333;
}

 .sub #header .container .util i:nth-child(1){
    margin-right: 20px;
} 
/* --------------------------------------------------header----------------------------------------------------- */
/* --------------------------------------------------topBanner----------------------------------------------------- */


.introduce .topBanner{
    width: 100%;
}
.introduce .topBanner .top{
    padding: 150px 0;
    background: url(../img/topBanner01.jpg) no-repeat center center / cover;
    color: white;
}
.introduce .topBanner .top h2{
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}
.introduce .topBanner .bottom{
    background: #ddd;   
    padding: 10px 200px; 
}
.introduce .topBanner .bottom a{
    text-decoration: underline;
    text-underline-position: under;
}
.introduce_main{
    padding: 100px 0;
    height: 100%;
}
.introduce_main h3::before{
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    width: 4px;
    height: 30px;
    background: orange;
    margin-right: 9px;
    vertical-align: -3px;

}
.introduce_main h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}
.introduce_main .top {
    position: relative;
}
.introduce_main .top .ceo_pic{
    position: absolute;
    display: block;
    top: 0;
    left: 0;

}

.introduce_main .top .text{
    position: absolute;
    display: block;
    top: 150px;
    right: 70px;
    width: 500px;
    height: 500px;
    background: #f06f24;
    padding: 40px;
    color: #fff;
}
.introduce_main .top .text span{
    display: block;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.introduce_main .top .text p{
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
}

.introduce_main .bottom {
    padding: 520px 0 0 0;
    background: #fff;
}

.introduce_main .bottom .sub_title{
    display: block;
    font-size: 27px;
    color: #f06f24;
    margin-bottom: 10px;
    
}
.introduce_main .bottom p{
    line-height: 1.7;
    font-weight: 400;
}