 .sub #header{
    position: relative;
    line-height: 100px;
    background: #fff;
    /* border-bottom: 1px solid rgba(51, 51, 51, 0.5); */
    color: #333;
}
 .sub #header h1 a{
    display: block;
}


 .sub #header h1 .before{
    display: none;
}

 .sub #header h1 .after{
    display:inline-block;  
}

 .sub #header .container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

 .sub #header .gnb>ul{
    display: flex;
    gap: 70px;
    text-align: center;
}

 .sub #header .gnb>ul>li{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
 .sub #header .gnb>ul>li:hover>a{
    color: rgb(254, 112, 61);
}

 .sub #header .gnb a{
    display: block;
}

 .sub #header .gnb>ul>li ul {    
    display: block;
    position: absolute;
    top: 100px;    
    left: 50%;
    z-index: 999;
    width: 130px;
    height: 0;
    line-height: 55px;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
    transition: 0.5s;
    background: #fff;
}

 .sub #header .gnb>ul>li ul li{
    position: relative;
    border-bottom: 1px solid #ddd;   
    font-size: 16px;
    font-weight: 400;
}

 .sub #header .gnb>ul>li .non li:last-child{
    border-bottom: none;
} 

 .sub #header .gnb>ul>li ul li:hover{
    color: #fe703d;
}

 .sub #header .gnb>ul::before{
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
}

 .sub #header .gnb>ul:hover>li ul,
 .sub #header .gnb>ul:hover::before {
    height: 285px;
}


 .sub #header .container .util i{
    cursor: pointer;
    font-size: 25px;
    vertical-align: -2px;
    color: #333;
}

 .sub #header .container .util i:nth-child(1){
    margin-right: 20px;
} 
/* --------------------------------------------------header----------------------------------------------------- */
/* --------------------------------------------------topBanner----------------------------------------------------- */


.main_work .topBanner{
    width: 100%;
}
.main_work .topBanner .top{
    padding: 150px 0;
    background: url(../img/topBanner02.jpg) no-repeat center center / cover;
    color: white;
}
.main_work .topBanner .top h2{
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}
.main_work .topBanner .bottom{
    background: #ddd;   
    padding: 10px 200px; 
}
.main_work .topBanner .bottom a{
    text-decoration: underline;
    text-underline-position: under;
}
.main_work_main{
    padding: 100px 0;
    height: 100%;
}
.main_work_main h3::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: orange;
    margin: 20px auto 0 auto;
}
.main_work_main h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
.main_work_main .text{
    margin-bottom: 20px;
    text-align: center;
}
.work01,
.work02,
.work03,
.work04{
    margin-bottom: 50px;
    
}

.work01 .text,
.work02 .text,
.work03 .text,
.work04 .text{
    margin-bottom: 40px;
    text-align: center;
}
.work01 .text p,
.work02 .text p,
.work03 .text p,
.work04 .text p{
    margin-bottom: 8px;
    font-size: 18px;
}
.work01 .pic,
.work02 .pic,
.work03 .pic,
.work04 .pic{
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.work01 .pic .left,
.work02 .pic .left,
.work03 .pic .left,
.work04 .pic .left{
    width: 70%;    
}

.work01 .pic .right,
.work02 .pic .right,
.work03 .pic .right,
.work04 .pic .right {
    width: 30%;
}
.work01 .pic .right .txt span,
.work02 .pic .right .txt span,
.work03 .pic .right .txt span,
.work04 .pic .right .txt span{
    text-align: right;
    display: block;
    color: #fe703d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.work01 .pic .right .txt p,
.work02 .pic .right .txt p,
.work03 .pic .right .txt p,
.work04 .pic .right .txt p{
    font-size: 37px;
    font-weight: 600;
    line-height: 1.2;
    text-align: right;
}

.work01 .pic .rightArrow_01,
.work02 .pic .rightArrow_02,
.work03 .pic .rightArrow_03,
.work04 .pic .rightArrow_04{
    position: absolute;
    top: 32%;
    right: -6%;
    transform: translate(-50%, -50%);
    font-size: 31px;
}
.work01 .pic .rightArrow_01 i,
.work02 .pic .rightArrow_02 i,
.work03 .pic .rightArrow_03 i,
.work04 .pic .rightArrow_04 i{
    border: 1px solid #333;
    padding: 5px;
}
.work01 .pic .rightArrow_01 .xi-angle-right,
.work02 .pic .rightArrow_02 .xi-angle-right,
.work03 .pic .rightArrow_03 .xi-angle-right,
.work04 .pic .rightArrow_04 .xi-angle-right{
    margin: 0 0 0 -8px;
} 
.more{
    position: absolute;
    top: 63%;
    right: -20px;
}
.more a{
    display: block;
    font-size: 15px;
    font-weight: 300;

}

.more i{
    padding: 5px;
    background: orange;
    color: #fff;
    border-radius: 50%;
    margin-left: 5px;
}
